@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-dark: #ee09a9;
  --clr-white: #fff;
  --max-width: 1140px;
  --transition: all 0.5s ease;
}



html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--clr-white);
  background-image:url("../assets/images/colorful-polygonal-background-abstract-form-vector-23254801.jpg") ;
  background-size:280%;
  background-position: -400px 0px;

}


img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.8em 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  
  background-color: #1c2042;
  color: #fff;
  border: 2px solid #1c2042;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {

  width: 24rem;
  max-width: 30rem;
  margin: 0 auto;
  padding: 0.5rem 1.75rem 3rem 1.75rem;
  background-color: rgba(0,0,0,0.5);
  color: var(--clr-white);
  border-radius: 10px;
}

.title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.submit-form {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
  margin :  0.5rem;
}
.small{
  margin-left:1rem;
  color:rgb(10, 2, 19);
  font-size:1rem;
  visibility: hidden;
}
.form-control.error small{
  visibility: visible;
}

.form-control label {
  font-size: 1rem;
  font-weight: 700;

}

.form-control input {
  padding: 0.8rem 1.25rem;
  font-size: 1rem;
  font-size: 600;
  border-radius: 10px;
  outline: none;
  

}
.form-control input:focus{
  outline:0;
  border-color: aqua;
}
.form-control.error input{
  border-color:black;
}
.form-control.success input{
  border-color:rgb(10, 238, 151);
}

.btn-light {
  background-color: var(--clr-white);
  border: 2px solid var(--clr-white);
  color: var(--clr-dark);
  transition: var(--transition);
}

.btn-light:hover {
  background-color: transparent;
  color: var(--clr-white);
}

.btn-block {
  display: block;
  width: 100%;
  margin: 1.5rem auto;
}

@media screen and (max-width: 768px) {
  .card {
    width: 23rem;
  }

  input {
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }
}